<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	
	<style>		
		.caret {position: absolute;left: 90%;top: 45%;}
		.tree {
			min-height:20px;
			padding:19px;
			margin-bottom:20px;
			background-color:#fbfbfb;
			border:1px solid #999;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
		}
		.tree li {
			list-style-type:none;
			margin:0;
			padding:10px 5px 0 5px;
			position:relative
		}
		.tree li::before, .tree li::after {
			content:'';
			left:-20px;
			position:absolute;
			right:auto
		}
		.tree li::before {
			border-left:1px solid #999;
			bottom:50px;
			height:100%;
			top:0;
			width:1px
		}
		.tree li::after {
			border-top:1px solid #999;
			height:20px;
			top:25px;
			width:25px
		}
		.tree li span {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border:1px solid #999;
			border-radius:5px;
			display:inline-block;
			padding:3px 8px;
			text-decoration:none
		}
		.tree li.parent_li>span {
			cursor:pointer
		}
		.tree>ul>li::before, .tree>ul>li::after {
			border:0
		}
		.tree li:last-child::before {
			height:30px
		}
		.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
			background:#eee;
			border:1px solid #94a0b4;
			color:#000
		}		
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>		
	<script>
			angular.module('myApp', [])
			.controller('MyCtrl', function($scope, $http) {
					$scope.ddlProjectCategoryDefaultMessage = "-- Select Category --";
					$scope.SelectedKey = "";
					$scope.SelectedValue = "";				
					
					$scope.ProjectCategoryList_DataBinder = [{
						"ID": "71A6821F-8D90-42CD-AF12-77BB77B75BA4",
						"Name": "One Account",
						"Description": "One Account",
						"ParentID": "",
						"Sequent": 1
					},
					{
						"ID": "B91CB192-3959-4F4E-B881-8C6E37004FF9",
						"Name": "Savings/Uniplus Account",
						"Description": "Savings/Uniplus Account",
						"ParentID": "",
						"Sequent": 2
					},
					{
						"ID": "3FA5048C-671A-450E-B1AB-884FE0DFAD0D",
						"Name": "Branding Campaign",
						"Description": "Branding Campaign",
						"ParentID": "",
						"Sequent": 3
					},
					{
						"ID": "1A9CB604-0AE3-4C5C-A16F-3DBD2447FAA8",
						"Name": "Press Ad",
						"Description": "Press Ad",
						"ParentID": "B41D0651-066E-46DF-832C-37D63096A47F",
						"Sequent": 2
					},
					{
						"ID": "DA9CB604-0AE3-4C5C-A16F-3DBD2447FAA9",
						"Name": "PA Child",
						"Description": "PA Child",
						"ParentID": "1A9CB604-0AE3-4C5C-A16F-3DBD2447FAA8",
						"Sequent": 2
					},
					{
						"ID": "3FECA7D2-C5B5-4F59-8119-D6C2E60437DA",
						"Name": "TVC",
						"Description": "TVC",
						"ParentID": "B41D0651-066E-46DF-832C-37D63096A47F",
						"Sequent": 2
					},
					{
						"ID": "B41D0651-066E-46DF-832C-37D63096A47F",
						"Name": "ATL Campaigns",
						"Description": "ATL Campaigns",
						"ParentID": "71A6821F-8D90-42CD-AF12-77BB77B75BA4",
						"Sequent": 1
					},
					{
						"ID": "79B74587-D435-4F38-9DCE-9A5F46CCB511",
						"Name": "BTL Campaigns",
						"Description": "BTL Campaigns",
						"ParentID": "71A6821F-8D90-42CD-AF12-77BB77B75BA4",
						"Sequent": 2
					},
					{
						"ID": "B3805919-469A-418A-8525-43418D9D1FB2",
						"Name": "ATL Campaigns",
						"Description": "ATL Campaigns",
						"ParentID": "3FA5048C-671A-450E-B1AB-884FE0DFAD0D",
						"Sequent": 1
					},
					{
						"ID": "2DFCC4DE-EF7A-4713-8BFA-1CE306B55BD5",
						"Name": "ATL Campaigns",
						"Description": "ATL Campaigns",
						"ParentID": "B91CB192-3959-4F4E-B881-8C6E37004FF9",
						"Sequent": 1
					},
					{
						"ID": "5E67EC6F-DEDD-4C30-BCEF-F0D43404FA48",
						"Name": "BTL Campaigns",
						"Description": "BTL Campaigns",
						"ParentID": "B91CB192-3959-4F4E-B881-8C6E37004FF9",
						"Sequent": 2
					}];		
					
					$scope.FlatToTreeConverter = function(Flat){
						/// This function is come from http://stackoverflow.com/a/21343255/900284
						/// Thank to http://stackoverflow.com/users/489307/treye
						var Nodes = [];
						var TopLevelNodes = [];
						var LookupList = [];

						//console.log("Flat.length = ", Flat.length);
						for (var i = 0; i < Flat.length; i++) {
							var Row = {
									ID: Flat[i].ID,
									Name: Flat[i].Name,
									ParentID: ((Flat[i].ParentID == 0) ? null : Flat[i].ParentID),
									Sub: []
								};
							LookupList.push(Row); 
							Nodes.push(Row);
							if (Row.ParentID == null) {
								TopLevelNodes.push(Row);
							}
							//console.log("Fist TopLevelNodes = ", JSON.stringify(TopLevelNodes));
						}

						for (var i = 0; i < Nodes.length; i++) {
						  var Row = Nodes[i];
						  if (!(Row.ParentID == null)) {			  			  
							  var LookupList_Row = LookupList.filter(function (x) { return x.ID === Row.ParentID; });
							  LookupList_Row[0].Sub.push(Row); 
						  }
						}
						
						//console.log("LookupList = ", JSON.stringify(LookupList));
						
						/// Below is my assumption.
						/// Here, very very important concept is "var X" is reference type, 
						/// so TopLevelNodes is automatically updated once after Row's Value was changed.
						/// For more detail, see at http://stackoverflow.com/a/32793507/900284
						return TopLevelNodes;
					}
				
				//console.log("Final TopLevelNodes = ", JSON.stringify($scope.FlatToTreeConverter($scope.ProjectCategoryList_DataBinder)));			
				$scope.ProjectCategoryList_DataBinder = $scope.FlatToTreeConverter($scope.ProjectCategoryList_DataBinder);				
			})
			.directive('nestedDropdown', function($compile) {
				return {					
					scope: false,
					link: function(scope, element, attributes) {												
						if(scope.ProjectCategoryList_DataBinder.length <=0 )return;						
						var InnerDropDownMenu = GetInnerDropDownMenu(scope.ProjectCategoryList_DataBinder);						
						scope.ddlProjectCategory_SelectedChange = function(Key, Value){
							scope.SelectedKey = Key;
							scope.SelectedValue = Value;
							scope.ddlProjectCategoryDefaultMessage = Value;
						}
						function GetInnerDropDownMenu(DataSource){
							var ReturnInnerDropDownMenu = "";
							ReturnInnerDropDownMenu = '			<ul> ';
							for(var i=0; i < DataSource.length; i++){								
								var ProjectCategoryRow = DataSource[i];								
								if(ProjectCategoryRow.Sub.length > 0){
									ReturnInnerDropDownMenu += 
																'				<li><span style="white-space: nowrap;" ><i class="glyphicon glyphicon-minus-sign"></i><a href="#" ng-click="ddlProjectCategory_SelectedChange(\''+ProjectCategoryRow.ID +'\', \''+ProjectCategoryRow.Name +'\');">'+ ProjectCategoryRow.Name +'</a></span> '+																
																'					    '+ GetInnerDropDownMenu(ProjectCategoryRow.Sub); +'     '+	
																'				</li> ';									
								}else{
									ReturnInnerDropDownMenu += 	'				<li><span style="white-space: nowrap;" ><a href="#" ng-click="ddlProjectCategory_SelectedChange(\''+ProjectCategoryRow.ID +'\', \''+ProjectCategoryRow.Name +'\');">'+ ProjectCategoryRow.Name +'</a></span></li>	 ';
								}
							}
							ReturnInnerDropDownMenu += '			</ul> ';							
							return ReturnInnerDropDownMenu;
						};
						
						var InnerHTMLElement =  '<ul class="nav"> '+
												'	<li class="dropdown">  '+
												'		<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="width:160px;">{{ddlProjectCategoryDefaultMessage}}<b class="caret"></b></a> '+
												'		<ul class="dropdown-menu tree" > '+
												'			<li><span><i class="glyphicon glyphicon-minus-sign"></i><a href="#" ng-click="ddlProjectCategory_SelectedChange(\'All\', \'All\');">All</a></span> '+
																InnerDropDownMenu
												+'			</li> '+
												'		</ul> '+
												'	</li> '+
												'</ul> ';
						element.html(InnerHTMLElement);						
						var CompiledOutput = $compile(element.contents())(scope);						
						element.replaceWith(CompiledOutput);
												
						$(function () {	
							$('.tree li:has(ul)').addClass('parent_li').find(' > span > i').attr('title', 'Collapse this branch');
							$('.tree li.parent_li > span > i').on('click', function (e) {
								var children = $(this).closest('span').parent('li.parent_li').find(' > ul > li');
								
								if (children.is(":visible")) {									
									children.hide('fast');
									$(this).closest('span').attr('title', 'Expand').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
								} else {									
									children.show('fast');
									$(this).closest('span').attr('title', 'Collapse').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
								}
								e.stopPropagation();
							});
						});	
							
					}					
				};
			});
			
	</script>	
</head>
<body ng-app="myApp" ng-controller="MyCtrl">	
	<div class="container">
		ProjectCategoryList_DataBinder Length ::: {{ ProjectCategoryList_DataBinder.length }}
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Dropdown Testing</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3"><span class="text-muted">Control</span></div>
						<div class="col-md-2"><span class="text-muted">Key</span></div>
						<div class="col-md-2"><span class="text-muted">Value</span></div>
					</div>
					
					<div class="row">
						<div class="col-md-3">
							<!-- Dropdown Control Start -->
							<!-- project category start -->
							<nested-Dropdown></nested-Dropdown>
							<!-- project category end -->
							<!-- Dropdown Control End   -->
						</div>
						<div class="col-md-2"><span class="text-muted">{{ SelectedKey }}</span></div>
						<div class="col-md-2"><span class="text-muted">{{ SelectedValue }}</span></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>