<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>	
	<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./bower_components/angular/angular.min.js"></script>
	
	<script>
			angular.module('myApp', [])
			.controller('MyCtrl', function($scope, $http) {
				$scope.FileDownloadImage = function(){
					window.open("http://localhost/ng_tag/Bagan.jpg", '_blank', '');  
					//window.location.assign("http://localhost/ng_tag/Bagan.jpg");
					alert("Call delete service");
				}
				$scope.FileDownloadZip = function(){
					window.open("http://localhost/ng_tag/Bagan.zip", '_blank', '');
					alert("Call delete service");
				}				
			});
	</script>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Download Testing</div>
				<div class="panel-body">
					<button type="button" class="btn btn-success" ng-click="FileDownloadImage();" >Download Image</button>
					<button type="button" class="btn btn-success" ng-click="FileDownloadZip();" >Download Zip</button>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>