<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>	
	<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./bower_components/angular/angular.min.js"></script>	
	<script>
			angular.module('myApp', [])
			.controller('MyCtrl', function($scope, $http) {
				$scope.ddlProjectCategoryDefaultMessage = "-- Select Project Category --";
				$scope.SelectedKey = "";
				$scope.SelectedValue = "";				

				$scope.ProjectCategoryList = [{
					Key: 'A001',
					Value: 'Project A',
				}, {
					Key: 'B001',
					Value: 'Project B'
				}, {
					Key: 'C001',
					Value: 'Project C'
				}];
				
				
				$scope.ddlProjectCategory_SelectedChange = function(Key, Value){
					$scope.SelectedKey = Key;
					$scope.SelectedValue = Value;
					$scope.ddlProjectCategoryDefaultMessage = Value;
				}
								
			});
	</script>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Dropdown Testing</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3"><span class="text-muted">Control</span></div>
						<div class="col-md-2"><span class="text-muted">Key</span></div>
						<div class="col-md-2"><span class="text-muted">Value</span></div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<!-- Dropdown Control Start -->
							<div class="dropdown">									
									<button class="btn btn-default dropdown-toggle" id="ddlProjectCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:230px;">            
										{{ ddlProjectCategoryDefaultMessage }} <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="ddlProjectCategory">
										<li ng-repeat="ProjectCategory in ProjectCategoryList" style="width:230px;" ><a href="#" ng-click="ddlProjectCategory_SelectedChange(ProjectCategory.Key, ProjectCategory.Value);">{{ ProjectCategory.Value }}</a></li>										
									</ul>
							</div>
							<!-- Dropdown Control End   -->
						</div>
						<div class="col-md-2"><span class="text-muted">{{ SelectedKey }}</span></div>
						<div class="col-md-2"><span class="text-muted">{{ SelectedValue }}</span></div>
					</div>					
				</div>
			</div>
		</div>
	</div>	
</body>
</html>